<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Zygoponent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"/>
</head>
<body>

<h1>Zygoponent</h1>

<form action="#" th:action="@{/}" th:object="${inputConfiguration}" method="post">

    <p><h2>Text</h2><textarea rows="20" cols="80" th:field="*{input}"></textarea></p>

    <h2>Parameters</h2>
    <table id="parameters">
        <tr>
            <th>Infection Level</th>
            <th>Infection Rate</th>
            <th>Progression Rate</th>
            <th>Recovery Rate</th>
        </tr>
        <tr>
            <th>Low</th>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{infectionLow}"></td>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{progressionLow}"/></td>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{recoveryLow}"/></td>
        </tr>
        <tr>
            <th>High</th>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{infectionHigh}"/></td>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{progressionHigh}"/></td>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{recoveryHigh}"/></td>
        </tr>
    </table>

    <p><a class="bold">First infected character: </a><input type="text" th:field="*{initiallyInfected}"/></p>

    <p><a class="bold">Font size: </a><input step="12" min="12" type="number" th:field="*{fontSize}" class="fontSizeInput"/></p>

    <p><input type="submit" name="action" value="Generate"/> <input type="submit" name="action" value="Reset" formnovalidate/></p>

    <p th:if="${#fields.hasErrors()}" class="error">
        <a class="bold">Input validation errors:</a></p>
    <ul class="error">
        <li th:if="${#fields.hasErrors('infectionLow') || #fields.hasErrors('infectionHigh')
                || #fields.hasErrors('progressionLow') || #fields.hasErrors('progressionHigh')
                || #fields.hasErrors('recoveryLow') || #fields.hasErrors('recoveryHigh')}">
            Input parameters must be a non-null, numerical value between 0 and 1.
        </li>
        <li th:if="${#fields.hasErrors('fontSize')}">
            Font size must be a non-null, integer value greater than or equal to 12.
        </li>
    </ul>
    </p>
</form>
</body>
</html>