<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Zygoponent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"/>
    <script type="text/javascript" src="/js/manipulateHtml.js"></script>
</head>
<body onload="resizeInputAreaIfNecessary();">

<!--<h1>Zygoponent</h1>-->

<form action="#" name="inputForm" th:action="@{/}" th:object="${inputConfiguration}" method="post">

<!--    <h2>Parameters</h2>-->
    <table class="parameters">
        <tr>
            <th colspan="2">First Infected Character</th>
        </tr>
        <tr>
            <td><label id="randomLabel" for="random">Random</label></td>
            <td><input value="true" id="random" name="infectedCharacter" type="radio" th:field="*{randomInitiallyInfected}"/></td>
        </tr>
        <tr>
            <td><label id="chooseLabel" for="choose">Choose</label></td>
            <td><input value="false" id="choose" name="infectedCharacter" type="radio" th:field="*{randomInitiallyInfected}"/></td>
        </tr>
        <tr>
            <td>Character</td>
            <td><input required id="characterEntry" minlength="1" maxlength="1" type="text" th:field="*{initiallyInfected}"/></td>
        </tr>
    </table> <table class="parameters">
        <tr>
            <th>Virus Severity</th>
            <th>Infection Rate</th>
            <th>Progression Rate</th>
            <th>Recovery Rate</th>
        </tr>
        <tr>
            <th>Low</th>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{infectionLow}"></td>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{progressionLow}"/></td>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{recoveryLow}"/></td>
        </tr>
        <tr>
            <th>High</th>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{infectionHigh}"/></td>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{progressionHigh}"/></td>
            <td><input step="0.01" min="0" max="1" type="number" th:field="*{recoveryHigh}"/></td>
        </tr>
    </table> <table class="parameters">
        <tr><th>Font Size</th></tr>
        <tr><td><input step="12" min="12" type="number" th:field="*{fontSize}" class="fontSizeInput"/></td></tr>
    </table>

<!--    <p>-->
<!--        <a class="bold">Font size: </a><input step="12" min="12" type="number" th:field="*{fontSize}" class="fontSizeInput"/>-->
<!--        <a class="bold">First infected character: </a>-->
<!--        <input value="true" id="random" name="infectedCharacter" type="radio" th:field="*{randomInitiallyInfected}"/>-->
<!--        <label id="randomLabel" for="random">Random</label>-->
<!--        <input value="false" id="choose" name="infectedCharacter" type="radio" th:field="*{randomInitiallyInfected}"/>-->
<!--        <label id="chooseLabel" for="choose">Choose</label>-->
<!--        <input required id="characterEntry" minlength="1" maxlength="1" type="text" th:field="*{initiallyInfected}"/>-->
<!--        <br />-->
<!--    </p>-->

    <script th:inline="javascript">
        /*<![CDATA[*/

            setUpCharacterEntryBox(/*[[${inputConfiguration.randomInitiallyInfected}]]*/);
            setUpCharacterSelectionRadioEventListeners();

        /*]]>*/
    </script>

    <br clear="all" />
    <p><input class="keyButton" id="generateButton" type="submit" name="action" value="Generate"/> <input class="keyButton" type="submit" name="action" value="Reset" formnovalidate/></p>


    <p><textarea oninput="showVectorHideGenerated();" id="inputArea" th:field="*{input}"></textarea></p>

    <p id="layers"></p>

    <script th:inline="javascript">
    /*<![CDATA[*/

    var content = /*[[${inputConfiguration.output}]]*/;
    var fontSize = /*[[${inputConfiguration.fontSize}]]*/;

    setUpLayerStyles(content.length, getMiniFontSize(fontSize, content.length));

    populateLayers(content);

    if (/*[[${inputConfiguration.showGenerated}]]*/) {
        showGeneratedHideVector();
    }
    else {
        showVectorHideGenerated();
    }

    fontSizeMult = fontSize * 5 / 6 + 'px';

    console.log(fontSizeMult);

    document.getElementById('inputArea').style.fontSize = fontSizeMult;

    /*]]>*/
    </script>

    <p th:if="${#fields.hasErrors()}" class="error">
        <a class="bold">Input validation errors:</a></p>
    <ul class="error">
        <li th:if="${#fields.hasErrors('infectionLow') || #fields.hasErrors('infectionHigh')
                || #fields.hasErrors('progressionLow') || #fields.hasErrors('progressionHigh')
                || #fields.hasErrors('recoveryLow') || #fields.hasErrors('recoveryHigh')}">
            Input parameters must be a non-null, numerical value between 0 and 1.
        </li>
        <li th:if="${#fields.hasErrors('fontSize')}">
            Font size must be a non-null, integer value greater than or equal to 12.
        </li>
        <li th:if="${#fields.hasErrors('fontSize')}">
            First infected character must be a single character.
        </li>
    </ul>
    </p>
</form>
</body>
</html>