<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Zygoponent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"/>
    <script type="text/javascript" src="/js/manipulateHtml.js"></script>
</head>
<body onload="resizeInputAreaIfNecessary();">
<div class="header">Zygote font generator 0.10</div>
<form id="inputForm" action="#" name="inputForm" th:action="@{/}" th:object="${inputConfiguration}" method="post">
    <table class="parameters">
        <tr>
            <td colspan="2">Infection Rate (weak/strong)</td>
        </tr>
        <tr>
            <td>
                <input id="lowInfectionNumber" class="numberInput" type="number" th:field="*{infectionLow}"/>
                <input id="lowInfectionText" class="percentageText" type="text"/>
            </td>
            <td>
                <input id="highInfectionNumber" class="numberInput" type="number" th:field="*{infectionHigh}"/>
                <input id="highInfectionText" class="percentageText" type="text"/>
            </td>
        </tr>
    </table> <table class="parameters">
        <tr>
            <td colspan="2">Progression Rate (weak/strong)</td>
        </tr>
        <tr>
            <td>
                <input id="lowProgressionNumber" class="numberInput" type="number" th:field="*{progressionLow}"/>
                <input id="lowProgressionText" class="percentageText" type="text"/>
            </td>
            <td>
                <input id="highProgressionNumber" class="numberInput" type="number" th:field="*{progressionHigh}"/>
                <input id="highProgressionText" class="percentageText" type="text"/>
            </td>
        </tr>
    </table> <table class="parameters">
        <tr>
            <td colspan="2">Recovery Rate (weak/strong)</td>
        </tr>
        <tr>
            <td>
                <input id="lowRecoveryNumber" size="" class="numberInput" type="number" th:field="*{recoveryLow}"/>
                <input id="lowRecoveryText" size="" class="percentageText" type="text"/>
            </td>
            <td>
                <input id="highRecoveryNumber" class="numberInput" type="number" th:field="*{recoveryHigh}"/>
                <input id="highRecoveryText" class="percentageText" type="text"/>
            </td>
        </tr>
    </table> <table class="parameters">
    <tr>
        <td>Seed Character</td>
    </tr>
    <tr>
        <td><input id="characterEntry" maxlength="1" type="text" placeholder="Random" th:field="*{initiallyInfected}"/></td>
    </tr>
    </table> <table class="parameters">
        <tr>
            <td class="hoverSelect"><input class="keyButton" type="submit" name="action" value="Reset" formnovalidate/></td>
        </tr>
        <tr>
            <td class="hoverSelect"><input class="keyButton" id="generateButton" type="submit" name="action" value="Generate"/></td>
        </tr>
    </table>

    <script th:inline="javascript">
        /*<![CDATA[*/

            setUpSubmitListener();
            setUpHiddenInputs();

        /*]]>*/
    </script>

    <br clear="all" />

    <p><textarea oninput="showVectorHideGenerated();" id="inputArea" th:field="*{input}"></textarea></p>

    <p id="layers"></p>

    <script th:inline="javascript">
    /*<![CDATA[*/

    var content = /*[[${inputConfiguration.output}]]*/;
    var fontSize = /*[[${inputConfiguration.fontSize}]]*/;

    setUpLayerStyles(content.length, getMiniFontSize(fontSize, content.length));

    populateLayers(content);

    if (/*[[${inputConfiguration.showGenerated}]]*/) {
        showGeneratedHideVector();
    }
    else {
        showVectorHideGenerated();
    }

    fontSizeMult = fontSize * 5 / 6 + 'px';

    console.log(fontSizeMult);

    document.getElementById('inputArea').style.fontSize = fontSizeMult;

    /*]]>*/
    </script>
</form>
<!--<div class="footer">© 2020 (design: Richard Smith; programming: Hal Smith)</div>-->
</body>
</html>