<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Zygoponent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"/>
</head>
<body>

<h1>Zygoponent</h1>
<br/>

<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">

    <h2>Parameters</h2>
    <table id="parameters">
        <tr>
            <th>Infection Level</th>
            <th>Infection Rate</th>
            <th>Progression Rate</th>
            <th>Recovery Rate</th>
        </tr>
        <tr>
            <th>Low</th>
            <td><input size="3" type="text" th:field="*{infectionLow}"/></td>
            <td><input size="3" type="text" th:field="*{progressionLow}"/></td>
            <td><input size="3" type="text" th:field="*{recoveryLow}"/></td>
        </tr>
        <tr>
            <th>High</th>
            <td><input size="3" type="text" th:field="*{infectionHigh}"/></td>
            <td><input size="3" type="text" th:field="*{progressionHigh}"/></td>
            <td><input size="3" type="text" th:field="*{recoveryHigh}"/></td>
        </tr>
    </table>
    <br/>
    <p>Font size: <input size="3" type="text" th:field="*{fontSize}"/></p>
    <br/>
    <p><h2>Text</h2><textarea rows="9" cols="60" th:field="*{input}"></textarea></p>
    <p><input type="submit" value="Run" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>