@font-face {
    font-family: virusIcons;
    src: url("/fonts/Zygoponent-Regular.woff") format("woff");
}
div {
    font-family: virusIcons;
    padding: 0px;
    text-align: left;
    left: 10px;
    right: 10px;
    bottom: 10px;
    position: absolute;
}
#parameters p {
    position: relative;
}
body {
    font-family: Helvetica, Arial;
}
#parameters td, #parameters th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
table {
    border-collapse: collapse;
}
.error {
    color: red;
}
.bold {
    font-weight: bold;
}
.frontLayer {
    position: relative;
    z-index: 1;
}
.fontSizeInput {
    min: 12;
    step; 12;
}
input[type=number] {
    width: 130px;
}